{% extends 'base.html.twig' %}

{% block metatitle %}
    Détails de la catégorie
{% endblock %}

{% block body %}
    <h2>Détails de la catégorie</h2>

    <h3>Articles dans cette catégorie</h3>
    <ul>
        {% for article in category.articles %}
            <li>
                <h4>{{ article.title }}</h4>

            </li>
        {% else %}
            <p>Aucun article dans cette catégorie.</p>
        {% endfor %}
    </ul>
{% endblock %}



